@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------Colors----------*/

/*------------Structure----------*/
h1,
h2,
h3,
h4{
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}


.banner-header{
    float: right;
    text-align: center;
    font-family: 'Exo', sans-serif;
    letter-spacing: 2px;
    margin-top: 200px;
}

.banner-header h1{
    font-size: 60px;
    font-weight: 400;
    color:darkred;
}

