@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

/*------------Colors----------*/
.bg-color-upper-banner{
    background: rgba(50, 50, 50, 1.0)
}

.bg-color-footer{
    background: rgb(180, 50, 50);
}

.bg-test{
    background: rgb(50,50,50);
}

/*------------Header Structure----------*/

h1,
h2,
h3,
h4{
    margin: 0;
}

.underline{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.current{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.container-fluid{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: 0;
}

.uppercase{
    text-transform: uppercase;
}

.upper-banner{
    min-height: 50px;
}

.col-md-12{
    margin: 0;
}

.header-logo{
    background: url("../assets/images/Logo.png");
    background-color: rgb(50,50,50);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 150px;
    min-width: 200px;
}

.upper-banner ul li{
    display: flex;
    float: right;
    text-align: right;
    list-style: none;
    padding-left: 5px;
    color: rgb(180, 50, 50);
    font-family: "Exo", sans-serif;
    font-size: large;
    font-weight: 700;
    letter-spacing: 1px;
}

.upper-banner ul li a{
    color: rgb(180, 50, 50);
    background: rgb(50,50,50);
}

.upper-banner ul li a:hover{
    color: rgb(50,50,50);
    text-decoration: none;
}

.menu-item{
   padding: 10px;
}

.banner{
    background-image: linear-gradient(to bottom, rgba(50, 50, 50, 1.0), rgba(50, 50, 50, 0)),  
    url("../assets/images/Banner_image_2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}


.banner-header{
    float: right;
    padding: 0;   
}

.banner-header{
    font-weight: 600;
    color: rgb(213, 204, 206);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.banner-header h1{
    font-size: 60px;
}

.banner-header h2{
    font-size: 30px;
}

/*--------------------------------------------Hover.css*/
.hvr-shutter-out-horizontal:before {
    background: rgb(180, 50, 50);
}

/*--------------------------------------------Index section*/
section{
    margin: 0;
    padding: 0;
}

/*--------------------------------------------Index-section*/
.section-blurb-title{
    color: #fafafa;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


.section-blurb-left {
    color: #b6a1a1;
    font-family: "Exo", sans-serif;
    font-weight: 700;
    margin-top: 150px;
    margin-left: 40px;
    font-size: 24px;
    letter-spacing: 1px;
    }

.section-blurb-left-image{
    background-image: url("../assets/images/Crouched_over_computer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
    min-height: 500px;
    max-width: 100%;
    border-radius: 50px 0 0 50px;
    margin-left: 85px;
    
    }

.section-blurb-right {
    color: #b6a1a1;
    font-family: "Exo", sans-serif;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 50px;
    margin-top: 150px;
    font-size: 24px;
    letter-spacing: 1px;
}

.section-blurb-right-image{
    background-image: url("../assets/images/Mental_and_physical_wellbeing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    height: 500px;
    max-width: 100%;
    border-radius: 0 50px 50px 0;
    }

.call-to-action {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 80px;
    font-size: 28px;
    text-transform: uppercase;
}

/*--------------------------------------------Exercises-section*/

.section-blurb-explainer {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    letter-spacing: 1.5px;
    
}


/*--------------------------------------------Footer*/

footer {
    background: linear-gradient(to bottom, rgba(50, 50, 50, 1.0), rgba(180, 50, 50, 1.0));
    color: rgb(255, 255, 255);
    min-height: 200px;
    margin: 20px;
}

.footer-message{
    font-family: "Oswald", sans-serif;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-style: solid;
    border-color: black;
    border-radius: 25%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #525252;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
    padding-bottom: 0px;
}

.logo{
    background: url("../assets/images/Logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 75%;
    min-height: 150px;
    min-width: 200px;
}